<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/applicationContext.xml</param-value>
    </context-param>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>action</servlet-name>
        <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
        <init-param>
            <param-name>config</param-name>
            <param-value>/WEB-INF/struts-config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>debug</param-name>
            <param-value>2</param-value>
        </init-param>
        <init-param>
            <param-name>detail</param-name>
            <param-value>2</param-value>
        </init-param>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>AdLogin</servlet-name>
        <servlet-class>Admin.AdLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmpLogin</servlet-name>
        <servlet-class>Employee.EmpLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerLogin</servlet-name>
        <servlet-class>Manager.ManagerLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddTeam</servlet-name>
        <servlet-class>Admin.AddTeam</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddManager</servlet-name>
        <servlet-class>Admin.AddManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddEmployee</servlet-name>
        <servlet-class>Admin.AddEmployee</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>*.htm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>action</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdLogin</servlet-name>
        <url-pattern>/AdLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmpLogin</servlet-name>
        <url-pattern>/EmpLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerLogin</servlet-name>
        <url-pattern>/ManagerLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddTeam</servlet-name>
        <url-pattern>/AddTeam</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddManager</servlet-name>
        <url-pattern>/AddManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddEmployee</servlet-name>
        <url-pattern>/AddEmployee</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>redirect.jsp</welcome-file>
    </welcome-file-list>
</web-app>
